.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 60px;
    background-color: rgb(230, 230, 230);
    border-bottom: 2px solid rgb(194, 194, 194);
    font-size: 28px;
}