<div class="main-block">
    <div class="main-block__task1">
        <div class="main-block__task1__box1">
            <div class="img"></div>
        </div>
        <div class=" main-block__task1__box2">
            <button [routerLink]="[ '/works/cenzor' ]" routerLinkActive="rout-active">details</button>
        </div>
    </div>
    <div class=" main-block__task2">
        <div class="main-block__task2__box1">
            <div class="img"></div>
        </div>
        <div class="main-block__task2__box2">
            <button [routerLink]="['/works/userlist']" routerLinkActive="rout-active">details</button>
        </div>
    </div>
    <div class="main-block__task3">
        <div class="main-block__task3__box1">
            <div class="img"></div>
        </div>
        <div class="main-block__task3__box2">
            <button [routerLink]="['/works/tasklist']" routerLinkActive="rout-active">details</button>
        </div>
    </div>
</div>